In [1]:
import numpy as np
import pandas as pd
import os
from collections import defaultdict

In [3]:
df = pd.read_csv("/home/artur/ml_shared/week5/email.csv")

In [4]:
df.head()

                                               email label
0  Upgrade to our premium plan for exclusive acce...   ham
1  Happy holidays from our team! Wishing you joy ...   ham
2  We're hiring! Check out our career opportuniti...   ham
3  Your Amazon account has been locked. Click her...  spam
4  Your opinion matters! Take our survey and help...   ham

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   email   179 non-null    object
 1   label   179 non-null    object
dtypes: object(2)
memory usage: 2.9+ KB

In [6]:
df.describe()

                                                    email label
count                                                 179   179
unique                                                150     2
top     You've been selected for a free trial of our p...   ham
freq                                                    4   100

In [7]:
df["label"].value_counts()

label
ham     100
spam     79
Name: count, dtype: int64